
main
{
	display: flex;
	flex-flow: row-reverse wrap;
	justify-content: center;
}
button
{
	flex: 0 0 auto;
	height: 100px;
	min-width: 100px;
	background: url("nusachinoneline.png") no-repeat;
	
}
#mercha
{
	background-position: -4845px 0px;
	width: 150px;
}
#tipcha
{
	background-position: -4690px 0px;
	width: 150px;
}
#munachEtnachta
{
	background-position: -4410px 0px;
	width: 300px;
}
#kadma
{
	background-position: -4275px 0px;
	width: 150px;
}
#mapach
{
	background-position: -4145px 0px;
	width: 150px;
}
#pashta
{
	background-position: -3985px 0px;
	width: 150px;
}
#munachZakefKaton
{
	background-position: -3680px 0px;
	width: 300px;
}
#zakefGadol
{
	background-position: -3480px 0px;
	width: 210px;
}
#pashta2
{
	background-position: -3305px 0px;
	width: 155px;
}
#yetiv
{
	background-position: -3150px 0px;
	width: 150px;
}
#munachZarka
{
	background-position: -2890px 0px;
	width: 250px;
}
#munachSegol
{
	background-position: -2650px 0px;
	width: 250px;
}
#pazer
{
	background-position: -2550px 0px;
	width: 100px;
}
#telishaKetanah
{
	background-position: -2230px 0px;
	width: 300px;
}
#kadmaVeAzla
{
	background-position: -1940px 0px;
	width: 300px;
}
#munach
{
	background-position: -1800px 0px;
	width: 125px;
}#munachRevii
{
	background-position: -1400px 0px;
	width: 400px;
}#telishaGedolah
{
	background-position: -1085px 0px;
	width: 325px;
}#gershaiim
{
	background-position: -920px 0px;
	width: 175px;
}#azlaGeresh
{
	background-position: -680px 0px;
	width: 250px;
}
#darga
{
	background-position: -545px 0px;
	width: 150px;
}
#tevir
{
	background-position: -415px 0px;
	width: 150px;
}
#sofPasuk
{
	background-position: -25px 0px;
	width: 400px;
}
#sofAliyah
{
	background-position: -25px 0px;
	width: 400px;
}