@use 'scss/modules/fluid';
@use 'scss/modules/const';

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


body {
  margin: 0;
  background-color: #1B1B1B;

  color: const.$main-text-color ;
  font-family: 'Lato', sans-serif;
}

a {
  color: const.$main-text-color;
  text-decoration: none;
}

p {
  font-weight: 300;
  @include fluid.fluid-type(font-size, 320px, 1280px, 12pt, 14pt);
}

h1 {
  font-weight: 300;
  @include fluid.fluid-type(font-size, 320px, 1280px, 25pt, 32pt);
}

h2 {
  font-weight: 300;
  @include fluid.fluid-type(font-size, 320px, 1280px, 16pt, 17pt);
}
h3 {
  font-weight: 300;
  @include fluid.fluid-type(font-size, 320px, 1280px, 16pt, 17pt);
}
h4 {
  font-weight: 400;
  @include fluid.fluid-type(font-size, 320px, 1280px, 15pt, 16pt);
}
