#navWrapper {
  display: flex;
  flex-flow: row nowrap;
  a {
    margin: 0 5vw 2vw 0;
  }
  a :hover {
    color: white;
  }
  .nav-btn-enabled {
    cursor: pointer;
  }
  .nav-btn-disabled {
    cursor: not-allowed;
  }
}
