:host{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 100vh;

  nav {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;

    h3 {
      margin: 40px 0;
      cursor: pointer;
    }
  }
}

