@use '../../scss/modules/_fluid.scss';

:host{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 100vh;

  .photo-gallery {
    @include fluid.fluid-type(width, 320px, 1280px, 320px, 800px);
    margin: 32pt auto auto auto;
  }
}



