footer, .footer-placeholder {
  height: 32pt;
  width: 100%;
}
footer{
  position: fixed;
  bottom: 0;
  z-index: 1000;

  background-color: #1B1B1B;
  box-shadow: 0 -3px 6px rgba(0,0,0,0.16);

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  .contact-icon {
    height: 20pt;
    width: 20pt;
    margin: 0 8pt;
  }
}
